ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/ControlCalidadServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlCalidadServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio.Entidades" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineas" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineasSinEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasSinEmpleado" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineasSinEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasSinEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerColores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColores" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerColores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoresResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerColorPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColorPorId" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerColorPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColorPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_AgregarColor_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarColor" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_AgregarColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarColorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ModificarColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarColor" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ModificarColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarColorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_EliminarColor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarColor" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_EliminarColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarColorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUltimoIdColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUltimoIdColor" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUltimoIdColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUltimoIdColorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerTodosLosModelos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosModelos" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerTodosLosModelos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosModelosResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerModeloPorSku_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloPorSku" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerModeloPorSku_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloPorSkuResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUltimoSku_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUltimoSku" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUltimoSku_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUltimoSkuResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GuardarModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarModelo" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_GuardarModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ModificarModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarModelo" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ModificarModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_EliminarModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarModelo" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_EliminarModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ComprobarLogueo_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarLogueo" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ComprobarLogueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarLogueoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IControlCalidadServicio">
    <wsdl:operation name="ObtenerLineas">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineas" message="tns:IControlCalidadServicio_ObtenerLineas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasResponse" message="tns:IControlCalidadServicio_ObtenerLineas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLineasSinEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleado" message="tns:IControlCalidadServicio_ObtenerLineasSinEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleadoResponse" message="tns:IControlCalidadServicio_ObtenerLineasSinEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerColores">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerColores" message="tns:IControlCalidadServicio_ObtenerColores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerColoresResponse" message="tns:IControlCalidadServicio_ObtenerColores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerColorPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerColorPorId" message="tns:IControlCalidadServicio_ObtenerColorPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerColorPorIdResponse" message="tns:IControlCalidadServicio_ObtenerColorPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/AgregarColor" message="tns:IControlCalidadServicio_AgregarColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/AgregarColorResponse" message="tns:IControlCalidadServicio_AgregarColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ModificarColor" message="tns:IControlCalidadServicio_ModificarColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ModificarColorResponse" message="tns:IControlCalidadServicio_ModificarColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/EliminarColor" message="tns:IControlCalidadServicio_EliminarColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/EliminarColorResponse" message="tns:IControlCalidadServicio_EliminarColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUltimoIdColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoIdColor" message="tns:IControlCalidadServicio_ObtenerUltimoIdColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoIdColorResponse" message="tns:IControlCalidadServicio_ObtenerUltimoIdColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosModelos">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerTodosLosModelos" message="tns:IControlCalidadServicio_ObtenerTodosLosModelos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerTodosLosModelosResponse" message="tns:IControlCalidadServicio_ObtenerTodosLosModelos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloPorSku">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerModeloPorSku" message="tns:IControlCalidadServicio_ObtenerModeloPorSku_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerModeloPorSkuResponse" message="tns:IControlCalidadServicio_ObtenerModeloPorSku_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUltimoSku">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoSku" message="tns:IControlCalidadServicio_ObtenerUltimoSku_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoSkuResponse" message="tns:IControlCalidadServicio_ObtenerUltimoSku_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/GuardarModelo" message="tns:IControlCalidadServicio_GuardarModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/GuardarModeloResponse" message="tns:IControlCalidadServicio_GuardarModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ModificarModelo" message="tns:IControlCalidadServicio_ModificarModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ModificarModeloResponse" message="tns:IControlCalidadServicio_ModificarModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/EliminarModelo" message="tns:IControlCalidadServicio_EliminarModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/EliminarModeloResponse" message="tns:IControlCalidadServicio_EliminarModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarLogueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ComprobarLogueo" message="tns:IControlCalidadServicio_ComprobarLogueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ComprobarLogueoResponse" message="tns:IControlCalidadServicio_ComprobarLogueo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUsuarioPorId" message="tns:IControlCalidadServicio_ObtenerUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerUsuarioPorIdResponse" message="tns:IControlCalidadServicio_ObtenerUsuarioPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControlCalidadServicio" type="tns:IControlCalidadServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerLineas">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerLineas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLineasSinEmpleado">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerColores">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerColores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerColorPorId">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerColorPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarColor">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/AgregarColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarColor">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ModificarColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarColor">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/EliminarColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUltimoIdColor">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoIdColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosModelos">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerTodosLosModelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloPorSku">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerModeloPorSku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUltimoSku">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerUltimoSku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarModelo">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/GuardarModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarModelo">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ModificarModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarModelo">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/EliminarModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarLogueo">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ComprobarLogueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlCalidadServicio">
    <wsdl:port name="BasicHttpBinding_IControlCalidadServicio" binding="tns:BasicHttpBinding_IControlCalidadServicio">
      <soap:address location="http://localhost:8733/ControlCalidad.Servidor.Servicio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>