ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/ControlCalidadServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlCalidadServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" />
      <xsd:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineas" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineasSinEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasSinEmpleado" />
  </wsdl:message>
  <wsdl:message name="IControlCalidadServicio_ObtenerLineasSinEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLineasSinEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IControlCalidadServicio">
    <wsdl:operation name="ObtenerLineas">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineas" message="tns:IControlCalidadServicio_ObtenerLineas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasResponse" message="tns:IControlCalidadServicio_ObtenerLineas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLineasSinEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleado" message="tns:IControlCalidadServicio_ObtenerLineasSinEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleadoResponse" message="tns:IControlCalidadServicio_ObtenerLineasSinEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControlCalidadServicio" type="tns:IControlCalidadServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerLineas">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerLineas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLineasSinEmpleado">
      <soap:operation soapAction="http://tempuri.org/IControlCalidadServicio/ObtenerLineasSinEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlCalidadServicio">
    <wsdl:port name="BasicHttpBinding_IControlCalidadServicio" binding="tns:BasicHttpBinding_IControlCalidadServicio">
      <soap:address location="http://localhost:8733/ControlCalidad.Servidor.Servicio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>