ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" />
  <xs:complexType name="ArrayOfLineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaDto" nillable="true" type="tns:LineaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaDto" nillable="true" type="tns:ArrayOfLineaDto" />
  <xs:complexType name="LineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" minOccurs="0" name="SupervisorLinea" nillable="true" type="q1:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaDto" nillable="true" type="tns:LineaDto" />
</xs:schema>