ControlCalidad.Cliente.AccesoExterno/Connected Services/ControlCalidadServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Servicio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ControlCalidad.Servidor.Servicio/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" />
  <xs:complexType name="ArrayOfLineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaDto" nillable="true" type="tns:LineaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaDto" nillable="true" type="tns:ArrayOfLineaDto" />
  <xs:complexType name="LineaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControlCalidad.Servidor.Dominio" minOccurs="0" name="SupervisorLinea" nillable="true" type="q1:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaDto" nillable="true" type="tns:LineaDto" />
  <xs:complexType name="ArrayOfColorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorDto" nillable="true" type="tns:ColorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorDto" nillable="true" type="tns:ArrayOfColorDto" />
  <xs:complexType name="ColorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorDto" nillable="true" type="tns:ColorDto" />
  <xs:complexType name="ArrayOfModeloDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloDto" nillable="true" type="tns:ModeloDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloDto" nillable="true" type="tns:ArrayOfModeloDto" />
  <xs:complexType name="ModeloDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorModelo" nillable="true" type="tns:ColorDto" />
      <xs:element minOccurs="0" name="Denominacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objetivo" type="xs:int" />
      <xs:element minOccurs="0" name="Sku" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloDto" nillable="true" type="tns:ModeloDto" />
</xs:schema>